* {
    font-family: 'Poppins','Roboto',sans-serif;
}

$primary-color: #1a1a27;

.crm_button {
    background-color: $primary-color;
    color: white;
    padding: 10px 12.5px;
    border-radius: 50px;
    border: none;
    transition: 0.3s all;

    i {
        color: #fafafa;
        z-index: 1;
    }

    &:hover{
      transform: scale(1.1,1.1);
      background-color: lighten($primary-color,20);  
    }
}