<div class="modal fade" id="modalToAddProductToRable" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog .modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Table {{tables?.table_number}}</h1>
                <button type="button" (click)="resetData()" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-9 border-right">
                            <div class="row row-cols-1 row-cols-sm-3 row-cols-md-5">
                                <div class="col-sm-6 col-md-5 col-lg-3 mb-5" *ngFor="let product of products">
                                    <div class="card h-100" style="cursor:pointer" (click)="selectProduct(product)">
                                        <div class="img-center">
                                            <img [src]="product.images" class="card-img-top"
                                                alt="{{product.product_name}}">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">{{product.product_name}}</h5>
                                            <p class="card-text">{{product.description}}</p>
                                            <p class="card-text"><small class="text-muted">{{product.price}}</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="title">Products to set</div>
                            <div class="container-products" *ngFor="let product of products">
                                <div class="products-quantity-section" *ngIf="selectedProductsMap[product.id] && selectedProductsMap[product.id].quantity > 0">
                                    <div for="" class="product-name">{{product.product_name}} x {{selectedProductsMap[product.id].quantity}}
                                    </div>
                                    <!-- <div class="quantity-input">
                                        <input class="form-control" type="number" min="1" max="10" step="1"
                                            [(ngModel)]="selectedProducts[i].quantity" name="quantity">
                                    </div> -->
                                    <div class="product-actions">
                                        <i class="fa-solid fa-trash" style="cursor: pointer;"
                                            (click)="removeProduct(product)"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="total">
                                <label for="">Total: {{total}}</label>
                            </div>
                        </div>
                        <div class="col-md-3" *ngIf="paymentEnabled">
                            Pago habilitado papa
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="resetData()"
                    data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="setProductInTable()">Add to
                    table</button>
            </div>
        </div>
    </div>
</div>