<!-- <div class="container text-center">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4" *ngFor="let product of product">
        <h1 class="col">{{product.product_name}}</h1>
    </div>
</div> -->

<!-- <div class="container text-center">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5">
        <div class="col" *ngFor="let product of products">
            <h1>{{product.product_name}}</h1>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5">
        <div class="col mb-4" *ngFor="let product of products">
            <div class="card h-100">
                <img [src]="product.images" class="card-img-top" alt="{{product.product_name}}">
                <div class="card-body">
                    <h5 class="card-title">{{product.product_name}}</h5>
                    <p class="card-text">{{product.description}}</p>
                    <p class="card-text"><small class="text-muted">{{product.price}}</small></p>
                </div>
            </div>
        </div>
    </div>
</div>