.container {
    margin-top: 110px;
    display: flex;
    justify-content: space-between;

    .column {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;

        #myChart1 {
            display: block;
            box-sizing: border-box;
            height: 237px;
            width: 475px;
            background-color: white;
            border-radius: 20px;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    }
}