.fullcontainer {
    display: flex;

    .form-container {
        background-color: #ffffff;
        height: auto;
        padding: 9px;
        width: 35%;
        border-radius: 10px;
        -webkit-box-shadow: 15px 35px 55px 1px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 15px 35px 55px 1px rgba(0, 0, 0, 0.3);
        box-shadow: 15px 35px 55px 1px rgba(0, 0, 0, 0.3);

        .title {
            font-weight: bold;
            display: flex;
            justify-content: center;
            padding: 20px;
        }

        .inputs {
            display: flex;
            justify-content: space-around;

            .wrapper-left,
            .wrapper-right {
                background-color: rgba(81, 81, 81, 0);
                display: flex;
                justify-content: center;

                .form-input {
                    position: relative;
                    height: 40px;
                    width: 90%;
                    margin-bottom: 50px;


                    .input {
                        top: 0px;
                        left: 0px;
                        height: 100%;
                        border: 1px solid #DADCE0;
                        border-radius: 7px;
                        font-size: 16px;
                        padding: 0 10px;
                        outline: none;
                        background: none;
                        display: block;
                        z-index: 1;
                    }

                    .label {
                        // position: absolute;
                        top: 15px;
                        left: 15px;
                        padding: 0 4px;
                        font-size: 16px;
                        transition: 0.5s;
                        z-index: 0;
                    }
                }
            }
        }

        .button-send {
            margin: 10px;
            display: flex;
            justify-content: center;
        }
    }

    .live-reload-component {
        margin: 0 20px;
        width: 60%;
    }

}

.inventory {
    margin: 20px 0;
    // width: 80%;
}


@media (max-width: 1440px) {
    .form-container {
        background-color: #ffffff;
        padding: 8px;
        height: auto;
        width: 35%;
        border-radius: 10px;
        -webkit-box-shadow: -1px 35px 55px 1px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: -1px 35px 55px 1px rgba(0, 0, 0, 0.3);
        box-shadow: -1px 35px 55px 1px rgba(0, 0, 0, 0.3);

        .title {
            font-weight: bold;
            display: flex;
            justify-content: center;
            padding: 20px;
        }

        .inputs {
            display: block;
            justify-content: space-around;

        }
    }
}