<div class="form-container">
    <div class="title">
        <h1 class="title-header">Create product</h1>
    </div>
    <form class="inputs">
        <div class="wrapper-left">
            <div class="center-wrapper">
                <div class="form-input">
                    <label for="">Product Name</label>
                    <input type="text">
                </div>
                <div class="form-input">
                    <label for="">Price</label>
                    <input type="text">
                </div>
                <div class="form-input">
                    <label for="">Description</label>
                    <input type="text">
                </div>
            </div>

        </div>
        <div class="wrapper-right">
            <div class="center-wrapper">
                <div class="form-input">
                    <label for="">Product Name</label>
                    <input type="text">
                </div>
                <div class="form-input">
                    <label for="">Price</label>
                    <input type="text">
                </div>
                <div class="form-input">
                    <label for="">Description</label>
                    <input type="text">
                </div>
            </div>

        </div>
    </form>
    <div class="button-send">
        <button (click)="submitForm()" type="button" class='btn btn-primary'>SENsD</button>
    </div>
</div>