<div class="sidebar-menu">
    <div class="logo_details">
        <i class="bx bxl-audible icon"></i>
        <div class="logo_name">VGACI</div>
        <i class="bx bx-menu" id="btn"></i>
    </div>
    <ul class="nav-list">
        <li>
            <i class="bx bx-search"></i>
            <input type="text" placeholder="Search...">
            <span class="tooltip">search</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bxs-user'></i>
                <span class="link_name">User</span>
            </a>
            <span class="tooltip">User</span>
        </li>
        <li>
            <a routerLink="/dashboard">
                <i class='bx bxs-dashboard'></i>
                <span class="link_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a routerLink="/products">
                <i class="bx bx-package"></i>
                <span class="link_name">Inventory</span>
            </a>
            <span class="tooltip">Inventory</span>
        </li>
        <li class="profile">
            <div class="profile_details">
                <img src="#" alt="profile image">
                <div class="profile_content">
                    <div class="name">Santiago Sanchez</div>
                    <div class="designation">Admin</div>
                </div>
            </div>
            <i class="bx bx-log-out" id="log_out"></i>
        </li>
    </ul>
</div>