<div class="fullcontainer">
    <div class="form-container">
        <h2 class="title">Mesas</h2>
        <div class="search">
            <div class="search-box">
                <input class="search-text" type="text" placeholder="Search Table" name="filter" [(ngModel)]="filter"
                    (change)="filterTable()">
            </div>
        </div>
        <!-- Crear como un componente -->
        <div class="cards-container">
            <!-- [ngClass]="table.status === 'available' ? 'available' : ''" -->
            <div class="col-sm-4" class="cards" *ngFor="let table of tables" data-bs-toggle="modal"
                data-bs-target="#modalToAddProductToRable">
                <div class="card" id="myUL" (click)="getTableById(table.id)">
                    <div class="card-body table" [ngClass]="{'red-cream': table.table_status.id === 1}">
                        <h5 class="card-title">Mesa {{table.table_number}}</h5>
                        <img src="./../../../assets/icons/table.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <app-product-selection [tables]="selectedTable"></app-product-selection>
        <app-crm-button class="crm_button" text="Añadir nueva mesa" data-bs-toggle="modal"
            data-bs-target="#modalToCreateTable"></app-crm-button>
        <app-create-table></app-create-table>
    </div>
</div>