<div class="fullcontainer">
    <div class="form-container">
        <app-crm-button class="crm_button" text="Add Table" data-bs-toggle="modal"
            data-bs-target="#modalToCreateTable"></app-crm-button>
        <app-create-table></app-create-table>
        <div class="search">
            <div class="search-box">
                <input class="search-text" type="text" placeholder="Search Table">
                <a href="#" class="search-btn" style="text-decoration: none;">
                    <i class="fa fa-search" style="color:black"></i>
                </a>
            </div>
        </div>
        <div class="cards-container">
            <div class="col-sm-4" class="cards" *ngFor="let table of tables.tables">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Table {{table.table_number}}</h5>
                        <hr>
                        <img src="./../../../assets/icons/table.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>