<div class="container">
    <div class="d-flex flex-row">
        <!--begin::Aside-->
        <app-customer-aside></app-customer-aside>

        <!--end::Aside-->
        <!--begin::Content-->
        <div class="flex-row-fluid ml-lg-8">
            <!--begin::Card-->
            <div class="card card-custom">
                <!--begin::Header-->
                <div class="card-header py-3">
                    <div class="card-title align-items-start flex-column">
                        <h3 class="card-label font-weight-bolder text-dark">Dashboard del cliente</h3>
                        <span class="text-muted font-weight-bold font-size-sm mt-1">Estadisticas del cliente</span>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Form-->
                <div class="card-body">

                </div>
                <!--end::Form-->
            </div>
        </div>
        <!--end::Content-->
    </div>
</div>