<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">Nombre del producto</label>
                            <input type="text" class="form-control" name="product_name" [value]="product.product_name"
                                id="name" [(ngModel)]="product.product_name">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Descripción</label>
                            <input type="text" class="form-control" name="description" [value]="product.description"
                                id="description" [(ngModel)]="product.description">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Precio de compra</label>
                            <input type="number" class="form-control" name="purchaseprice"
                                [value]="product.purchaseprice" id="purchaseprice" [(ngModel)]="product.purchaseprice">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Precio de venta</label>
                            <input type="number" class="form-control" name="price" [value]="product.price" id="price"
                                [(ngModel)]="product.price">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">Stock</label>
                            <input type="number" class="form-control" name="stock" [value]="product.stock" id="stock"
                                [(ngModel)]="product.stock">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Proveedor</label>
                            <input type="text" class="form-control" name="provider" [value]="product.provider"
                                id="provider" [(ngModel)]="product.provider">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Vendidos</label>
                            <input type="number" class="form-control" readonly name="selled" [value]="product.selled"
                                id="selled" [(ngModel)]="product.selled">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="updateProduct(product.id)">Actualizar
                    producto</button>
            </div>
        </div>
    </div>
</div>