<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit {{product.product_name}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <label class="col-sm-3 control-label">Product Name</label>
                        <input type="text" name="product_name" [value]="product.product_name" id="name"
                            [(ngModel)]="product.product_name">
                    </div>
                    <div>
                        <label class="col-sm-3 control-label">Descripción</label>
                        <input type="text" name="description" [value]="product.description" id="description"
                            [(ngModel)]="product.description">
                    </div>
                    <div>
                        <label class="col-sm-3 control-label">Precio</label>
                        <input type="number" name="price" [value]="product.price" id="price"
                            [(ngModel)]="product.price">
                    </div>
                    <div>
                        <label class="col-sm-3 control-label">Stock</label>
                        <input type="number" inputmode="numeric" name="stock" [value]="product.quantity" id="stock"
                            [(ngModel)]="product.quantity">
                    </div>
                    <div>
                        <label class="col-sm-3 control-label">Provider</label>
                        <input type="number" inputmode="numeric" name="provider" [value]="product.provider"
                            id="provider" [(ngModel)]="product.provider">
                    </div>
                    <div>
                        <label class="col-sm-3 control-label">Selled</label>
                        <input type="number" readonly inputmode="numeric" name="selled" [value]="product.selled"
                            id="selled" [(ngModel)]="product.selled">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="updateProduct(product.id)">Save
                    changes</button>
            </div>
        </div>
    </div>
</div>