th {
    padding: 1em 2em;
}

td,
th {
    text-align: center;
}

tr {
    cursor: pointer;
    transition: 0.3s ease;
}

tr.active * {
    background: var(--primary-color);
    color: white;
    font-weight: bold;
}

.campaign-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "table-container form";
    font-family: "Poppins", sans-serif;
    margin-top: 110px;
    background-color: rgb(255, 255, 255) !important;
}

.campaign-container * {
    font-family: "Poppins", sans-serif;
}

.table-container {
    grid-area: "table-container";
}

.form-container {
    grid-area: "form";
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1255);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 16px;
}

.form-container h1 {
    text-align: center;
    font-weight: bold;
    padding: 16px 0;
}

.form-container .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.125);
    border: none;
    border-radius: 0;
}

button[type=button] {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    padding: 1em 3em;
    outline: none;
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.125);
    transition: 0.3s ease;
}

button[type=button]:hover {
    background-color: #0493be;
}