.container {
    display: grid;
    grid-gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(auto-fill, minmax(5, 1fr));

    .row {
        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 5px;

            img {
                width: 100%;
            }

            .card-body {
                text-align: center;
            }
        }
    }
}


/* Media queries */
@media only screen and (max-width: 600px) {
    .container {
        grid-template-columns: repeat(auto-fill, minmax(2, 1fr));
    }
}