<!-- Modal -->
<div class="modal fade" id="modalToCreateTable" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create Table</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <label class="col-sm-3 control-label">Table Number</label>
                        <!-- <input type="text" name="product_name" [value]="product.product_name" id="name"
                            [(ngModel)]="product.product_name"> -->
                    </div>
                    <div>
                        <label class="col-sm-3 control-label">Table Capacity</label>
                        <!-- <input type="text" name="description" [value]="product.description" id="description"
                            [(ngModel)]="product.description"> -->
                    </div>
                    <div>
                        <label class="col-sm-3 control-label">Table Status</label>
                        <!-- <input type="number" name="price" [value]="product.price" id="price"
                            [(ngModel)]="product.price"> -->
                    </div>
                    <div>
                        <label class="col-sm-3 control-label">Table Location</label>
                        <!-- <input type="number" inputmode="numeric" name="stock" [value]="product.quantity" id="stock"
                            [(ngModel)]="product.quantity"> -->
                    </div>
                    <div>
                        <label class="col-sm-3 control-label">Table Reservations</label>
                        <!-- <input type="number" inputmode="numeric" name="provider" [value]="product.provider"
                            id="provider" [(ngModel)]="product.provider"> -->
                    </div>
                    <div>
                        <label class="col-sm-3 control-label">Table Orders</label>
                        <!-- <input type="number" readonly inputmode="numeric" name="selled" [value]="product.selled"
                            id="selled" [(ngModel)]="product.selled"> -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>