<div class="container">

    <div class="grid-container">
        <app-sidebar></app-sidebar>
    </div>
    <!-- <mat-drawer-content> -->
    <!-- <mat-drawer mode="side"> -->
    <!-- </mat-drawer> -->
    <!-- <mat-drawer-content> -->
    <div class="content">
        <!-- <h1>pta</h1> -->
        <!-- <router-outlet></router-outlet> -->
        <app-header></app-header>
    </div>
    <!-- <router-outlet></router-outlet> -->
    <!-- </mat-drawer-content> -->
    <!-- </mat-drawer-content> -->
</div>


<!-- <app-dashboard></app-dashboard>
<app-breadcrumbs></app-breadcrumbs> -->