$primary-color: #1a1a27;

.lf-container {
    display: flex;
    box-sizing: border-box;
    z-index: 0;
    background-color: #eaeaea;

    .content {
        // margin-top: 110px;
        width: 100%;
        flex-direction: column;
        // padding: 0;
        // background-color: #eaeaea;
    }
}