<div class="container">
    <div class="investment">
        <h3 class="text-center value">Total invertido</h3>
        <h2 class="value">{{totalInvestment | currency: 'COP '}}</h2>
    </div>
    <div class="profits">
        <h3 class="text-center value">Ganancias</h3>
        <h2 class="value">{{totalCustomer}}</h2>
    </div>
    <div class="customers">
        <h3 class="text-center value">Clientes almacenados</h3>
        <h2 class="value">{{totalCustomer}}</h2>
    </div>
</div>

<div class="chartContainer">
    <div class="firstChart">
        <canvas id="myChart1"></canvas>
    </div>
    <div class="secondChart">
        <canvas id="myChart3"></canvas>
    </div>
</div>
<div class="section3">
    <div class="tableContainer">
        <table class="table">
            <tr>
                <th>Nombre cliente</th>
                <th>Visitas</th>
                <!-- <th>Contenido 3</th> -->
            </tr>
            <tr *ngFor="let customer of visitingCustomers">
                <td>{{customer.customerName}}</td>
                <td>{{customer.visitCount}}</td>
                <!-- <td>Contenido 6</td> -->
            </tr>
        </table>
    </div>
    <div class="tableContainer">
        <table class="table">
            <tr>
                <th>Metodo de pago</th>
                <th>Cantidad de uso</th>
                <!-- <th>Contenido 3</th> -->
            </tr>
            <tr *ngFor="let payment of paymentMethod">
                <td>{{payment.paymentMethod}}</td>
                <td>{{payment.countPayment}}</td>
                <!-- <td>Contenido 6</td> -->
            </tr>
        </table>
    </div>
</div>