<div class="d-flex flex-column flex-root" style="height: 100vh !important; background: #bbc1ff !important">
    <!--begin::Login-->
    <div class="login login-signin-on login-2 d-flex flex-row-fluid" id="kt_login">
        <div class="d-flex flex-center bgi-size-cover bgi-no-repeat flex-row-fluid">
            <div class="login-form text-center  p-7 position-relative overflow-hidden"
                style="min-width: 400px !important;">
                <!--begin::Login Header-->
                <div class="d-flex flex-center mb-15">
                    <a href="#">
                        <img src="assets/media/logos/logo-letter-9.png" class="max-h-100px" alt="" />
                    </a>
                </div>
                <!--end::Login Header-->
                <!--begin::Login Sign in form-->
                <div class="login-signin">
                    <div class="mb-20">
                        <h3>Sign In To Admin</h3>
                        <p class="opacity-60 font-weight-bold">Enter your details to login to your account:</p>
                    </div>
                    <form class="form">
                        <div class="form-group">
                            <input
                                class="form-control h-auto  placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8 mb-5"
                                type="text" placeholder="Email" name="email" [(ngModel)]="user.email"
                                autocomplete="off" />
                        </div>
                        <div class="form-group">
                            <input
                                class="form-control h-auto  placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8 mb-5"
                                type="password" placeholder="Password" name="password" [(ngModel)]="user.password">
                        </div>
                        <div class=" form-group text-center mt-10">
                            <button type="button" (click)="login()" id="kt_login_signin_submit"
                                class="btn btn-pill btn-primary font-weight-bold opacity-90 px-15 py-3">Sign In</button>
                        </div>
                    </form>
                    <div class="mt-10">
                        <span class="opacity-70 mr-4">Don't have an account yet?</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end::Login-->
</div>