<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">Clientes
                <span class="text-muted pt-2 font-size-sm d-block">Lista completa de clientes</span>
            </h3>
        </div>
        <div class="card-toolbar">
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">

                <div class="table-responsive">
                    <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
                        <thead>
                            <tr class="text-left text-uppercase">
                                <th style="min-width: 250px" class="pl-7">
                                    <span class="text-dark-75">Nombres</span>
                                </th>
                                <th style="min-width: 100px">Correo</th>
                                <th style="min-width: 100px">Verificado</th>
                                <th style="min-width: 100px">Tipo</th>

                                <th style="min-width: 80px"></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="customers.length > 0">
                            <tr *ngFor="let customer of customers">
                                <td class="pl-0 py-8">
                                    <div class="d-flex align-items-center">
                                        <div class="symbol symbol-40 flex-shrink-0 symbol-success mr-3">
                                            <div class="symbol-label">
                                                {{customer.name.substr(0,1)}}{{customer.surnames.substr(0,1)}}</div>
                                        </div>
                                        <div>
                                            <a [routerLink]="['/customer/' + customer.id + '/dashboard']"
                                                routerLinkActive="router-link-active"
                                                class="text-primary font-weight-bolder text-hover-primary mb-1 font-size-lg">
                                                {{customer.name}} {{customer.surnames}}
                                            </a>
                                            <span class="text-muted font-weight-bold d-block">Nombre completo</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span
                                        class="text-dark-75 font-weight-bolder d-block font-size-lg">{{customer.email}}</span>
                                    <span class="text-muted font-weight-bold">Correo</span>
                                </td>
                                <td>
                                    <span class="badge badge-success" *ngIf="customer.verify">Verificado</span>
                                    <span class="badge badge-danger" *ngIf="!customer.verify">Sin verificar
                                    </span>
                                    <span class="text-muted font-weight-bold d-block">Estado</span>
                                </td>
                                <td>

                                    <span class="badge badge-warning"
                                        *ngIf="customer.type == 'prospect'">Prospecto</span>
                                    <span class="badge badge-primary" *ngIf="customer.type == 'partner'">Socio</span>
                                    <span class="text-muted font-weight-bold d-block">Tipo de cliente</span>
                                </td>


                                <td class="pr-0 text-left ">
                                    <button class="btn btn-facebook" (click)="getCustomerById(customer.id)"
                                        data-bs-toggle="modal"
                                        data-bs-target="#modalToUpdateCustomer">Actualizar</button>
                                    <app-edit-customer [customer]="selectedCustomer"></app-edit-customer>
                                    <button class="btn btn-danger text-center"
                                        (click)="deleteCustomer(customer.id)">Eliminar</button>
                                </td>
                            </tr>

                        </tbody>
                        <tbody *ngIf="customers.length == 0">
                            <tr>
                                <td colspan="5" class="text-center">
                                    <p class="font-size-h3 text-muted font-weight-normal mt-5">No hay clientes para
                                        mostrar</p>
                                </td>
                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>

        </div>
    </div>
</div>