<div class="container">
    <div class="d-flex flex-row">
        <!--begin::Aside-->
        <app-customer-aside></app-customer-aside>

        <!--end::Aside-->
        <!--begin::Content-->
        <div class="flex-row-fluid ml-lg-8">
            <!--begin::Card-->
            <div class="card card-custom">
                <!--begin::Header-->
                <div class="card-header py-3">
                    <div class="card-title align-items-start flex-column">
                        <h3 class="card-label font-weight-bolder text-dark">Llamadas a clientes</h3>
                        <span class="text-muted font-weight-bold font-size-sm mt-1">Estadisticas del cliente</span>
                    </div>
                    <div class="card-toolbar">
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <!-- <a [routerLink]="['/customer/'+ id +'/prospection']"
                                class="btn btn-outline-primary">Actividades</a> -->
                            <a [routerLink]="['/customer/'+ id +'/prospection/interests']"
                                class="btn btn-outline-primary">Intereses</a>
                            <a [routerLink]="['/customer/'+ id +'/prospection/calls']"
                                class="btn btn-outline-primary">Llamadas</a>
                            <a [routerLink]="['/customer/'+ id +'/prospection/mails']"
                                class="btn btn-outline-primary">Correos</a>
                        </div>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Form-->
                <div class="card-body">
                    <!-- <a class="btn btn-info font-weight-bolder font-size-sm mr-3" style="cursor: pointer;"
                        data-toggle="modal" [attr.data-target]="'#modalLlamada'">
                        Nueva llamada
                    </a> -->
                    <button type="button" class="btn btn-info font-weight-bolder font-size-sm mr-3"
                        data-bs-toggle="modal" data-bs-target="#modalLlamada">
                        Agregar nueva llamada
                    </button>

                    <hr class="mb-5">

                    <div class="mb-3" *ngFor="let call of calls">
                        <!--begin::Content-->
                        <div class="d-flex align-items-center flex-grow-1">

                            <!--begin::Section-->
                            <div class="d-flex flex-wrap align-items-center justify-content-between w-100">
                                <!--begin::Info-->
                                <div class="d-flex flex-column align-items-cente py-2 w-75">
                                    <!--begin::Title-->
                                    <a class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1">
                                        {{call.result}}
                                        &nbsp; | &nbsp;
                                        {{call.assesor.fullName}}
                                    </a>
                                    <!--end::Title-->
                                    <!--begin::Data-->
                                    <span class="text-muted font-weight-bold">
                                        {{call.date}}, &nbsp; {{call.hour}}
                                    </span>
                                    <span class="text-muted font-weight-bold" *ngIf="call.note">
                                        {{call.note}}
                                    </span>
                                    <!--end::Data-->
                                </div>
                                <!--end::Info-->
                                <!--begin::Label-->
                                <span class="label label-lg label-light-primary label-inline font-weight-bold py-4">
                                    {{call.created_date | date}}</span>
                                <!--end::Label-->
                            </div>
                            <!--end::Section-->

                        </div>
                        <!--end::Content-->
                    </div>



                </div>
                <!--end::Form-->
            </div>
        </div>
        <!--end::Content-->
    </div>
</div>


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="modalLlamada" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Registrar llamada</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3 class="font-size-lg text-dark font-weight-bold mb-6">1. General:</h3>
                <div class="mb-15">
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label">Fecha (*):</label>
                        <div class="col-lg-8">
                            <input type="date" name="date" [(ngModel)]="call.date" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label">Resultado (*):</label>
                        <div class="col-lg-8">
                            <select name="resultado" [(ngModel)]="call.result" class="form-control">
                                <option value="" selected disabled>Seleccionar</option>
                                <option value="Ocupado">Ocupado</option>
                                <option value="Conectado">Conectado</option>
                                <option value="Dejo un mensaje">Dejo un mensaje</option>
                                <option value="Sin respuesta">Sin respuesta</option>
                                <option value="N° Incorrecto">N° Incorrecto</option>
                                <option value="Proxima llamada">Proxima llamada</option>
                                <option value="Venta cerrada">Venta cerrada</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label">Hora (*):</label>
                        <div class="col-lg-8">
                            <app-timepicker [hour]="time.hour" [minutes]="time.minutes"></app-timepicker>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <textarea rows="4" placeholder="Algúna nota o información" [(ngModel)]="call.note"
                                class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="registerCall()">Guardar</button>
            </div>
        </div>
    </div>
</div>