<div class="container">
    <div class="d-flex flex-row">
        <!--begin::Aside-->
        <app-customer-aside></app-customer-aside>

        <!--end::Aside-->
        <!--begin::Content-->
        <div class="flex-row-fluid ml-lg-8">
            <!--begin::Card-->
            <div class="card card-custom">
                <!--begin::Header-->
                <div class="card-header py-3">
                    <div class="card-title align-items-start flex-column">
                        <h3 class="card-label font-weight-bolder text-dark">Customer calls</h3>
                        <span class="text-muted font-weight-bold font-size-sm mt-1">Customer Stats</span>
                    </div>
                    <div class="card-toolbar">
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <a [routerLink]="['/customer/'+ id +'/prospection']"
                                class="btn btn-outline-primary">Activities</a>
                            <a [routerLink]="['/customer/'+ id +'/prospection/interests']"
                                class="btn btn-outline-primary">Interests</a>
                            <a [routerLink]="['/customer/'+ id +'/prospection/calls']"
                                class="btn btn-outline-primary">Calls</a>
                            <a [routerLink]="['/customer/'+ id +'/prospection/mails']"
                                class="btn btn-outline-primary">mails</a>
                        </div>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Form-->
                <div class="card-body">

                </div>
                <!--end::Form-->
            </div>
        </div>
        <!--end::Content-->
    </div>
</div>