<div class="d-flex flex-column flex-md-row align-items-center pb-3">
    <a href="/" class="logo d-flex align-items-center link-body-emphasis text-decoration-none">
        <span class="fs-4">Discoteca PG</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">

        <ul>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none scrollto active" href="/home#hero">Home</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none scrollto" href="/home#about">Nosotros</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none scrollto" href="/home#contact">Contacto</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none scrollto" href="/home#form">Registrate</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" [routerLink]="['/shopping']"
                routerLinkActive="router-link-active">Productos</a>
            <a class="me-3 py-2 btn btn-outline-primary" routerLink="/login">Login</a>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
</div>

<!-- <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Pricing</h1>
    <p class="fs-5 text-body-secondary">Quickly build an effective pricing table for your potential customers with this
        Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
</div> -->