.form-container {

    td,th,table{
        font-family: 'Poppins','Roboto',sans-serif;
    }

    th{
        background-color: var(--primary-color);
        color: white;
    }

    & h3.title-header{
        font-weight: bold;
        font-family: 'Poppins','Roboto',sans-serif;
        font-size: 1.5rem;
    }

    background-color: #ffffff;
    height: 100%;
    padding: 9px;
    // width: 60%;
    border-radius: 10px;

    .title {
        font-weight: bold;
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .products-container {
        display: flex;
        justify-content: space-around;
        height: 200px;
        /* Ajusta la altura según tus necesidades */
        overflow-y: auto;


        .card-products {
            width: 140px;
            /* outline: antiquewhite; */

            .product-data {
                display: flex;
                justify-content: center;
                margin: 20px;
            }
        }
    }


}